/* CSS Reset */
* {
	margin: 0;
}

a { color:black}

a:visited { text-decoration: none; color:black; }


body {
	background: #1395D1;
	font-family: 'Abel', Helvetica, sans-serif;
}

.modules 
{
	margin-left: 20px;
	margin-top: 15px;
	float: left;
	padding: 50px;
	padding-bottom: 230px;
	border: 0px solid black;
	background: #FFFFFF;
	border-radius: 25px;
	position:fixed;
}

.bottom {
    position: absolute;
    bottom: 0;
}

.information
{
  margin: 15px 20px 0px 320px;
  padding: 20px;
  border: 0px solid black;
  background: #FFFFFF;
  border-radius: 25px;
  overflow:scroll;
  
}

header {
	display: flex;
	height: 10%;
	background: #fff;
	background-image: url("../kingston.jpg"); 
	justify-content: space-between;
	align-items: center;
	border-style: hidden;
	padding: 15px 0px 15px 15px;
	font-color: #83a4d4;
}

header img {
	height: 100px;
	margin-right: 1em;
}

header > h3 {
	justify-content: flex-start;
}

header nav {
	display: flex;
	justify-content: flex-end;
}

header nav a {
	padding-right: 20px;
}

h1{
	color: #000000;
	font-family: 'Helvetica';
}

h3{
	color: #1395D1;
	font-family: Helvetica;

}

ul
{ 
	list-style-type: none; 
    list-style-position:inside;
}


